grant {
	permission java.net.SocketPermission "127.0.0.1:*", "accept,connect";
	permission java.io.FilePermission "QuizList.ser", "write"; 
	permission java.io.FilePermission "QuizList.ser", "read"; 

};

